<!--
  Generated template for the ProfilePage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Profil</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


  <form #formCtrl="ngForm">
    <div align="center" *ngIf="formCtrl.form.valid">

      <h1> Profile</h1>
      <img class="profile-image" width="10%" src="assets/icon/profile-icon.png">
      <h4>{{name}}</h4>
      <button class="readOnly" ng-disable="true" ion-button large>{{lp}} LP</button>
    </div>

    <div class="divider"></div>
    <h4>Badges</h4>
    <div class="badge-grid">
      <ion-card *ngFor="let badge of badgeArr" [class.earned]="badge.earned===true">
        <a href="{{badge.url}}"><img src="{{badge.image}}"/></a>
        <ion-card-content>
          <ion-card-title>
            {{badge.name}}
          </ion-card-title>
          <p>
            {{badge.description}}
          </p>
        </ion-card-content>
      </ion-card>
    </div>
    <div class="divider"></div>
    <button round outline ion-button (click)="rewardLP()">Reward 200 LP</button>
    <button round outline ion-button (click)="rewardBadge()">Get Badge</button>
    <ion-list>
      <ion-item>
        <ion-label floating>Name</ion-label>
        <ion-input type="text" [(ngModel)]="name" name="name" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>E-Mail</ion-label>
        <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
      </ion-item>
    </ion-list>
    <button color="secondary" [disabled]="!formCtrl.form.valid" ion-button (click)="save()">Save</button>
  </form>
</ion-content>
